name: Docker

on:
  push:
    branches: ["main"]
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  docker:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t hikvision-manager:${{ github.sha }} .

      - name: Push to Docker Hub
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/hikvision-manager"
          docker tag hikvision-manager:${{ github.sha }} $IMAGE:latest
          docker tag hikvision-manager:${{ github.sha }} $IMAGE:${{ github.sha }}
          docker push $IMAGE:latest
          docker push $IMAGE:${{ github.sha }}
